div.game
  nav.game-nav
    .help-invite 
      | Share this link with your friends to play together
      span
        | {{vm.shareLink}}
    a.btn-invite.btn.btn-small(href="mailto:?subject=Roll%20Dice&body={{vm.shareLink}}") Invite
  div.game-result.game-section
    .panel
      .panel-body
        div(ng-show="vm.canIPlay === true")
          dice#dice(dice-value="vm.activeValue", dice-size="big", dice-enabled="true", ng-click="vm.play()")
        div(ng-show="vm.canIPlay.code < 0 ")  
          div.alert.alert-warning {{vm.canIPlay.description}} {{vm.canIPlay.code}}  
        .game-played
          div.game-played-entry(ng-repeat="result in vm.game.results")
            dice(dice-value="result.value", dice-size="small")
            span {{result.player.name}}

  div.game-players.game-section
    .panel
      .panel-body
        div(ng-repeat="player in vm.players")
          player(model="player")
  div
    .game-log.game-section
      .panel
        .panel-body
          log(log="vm.log")