div.game
  div.game-result.game-section
    .panel
      .panel-body
        dice#dice.dice(value="5")
  div.game-players.game-section
    .panel
      .panel-body
        players
  div
    .game-log.game-section
      .panel
        .panel-body
          log



